<h1>{{ album.title }}</h1>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Composer</th>
        <th>Milliseconds</th>
        <th>Bytes</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    {% for track in album.track_set.all %} 
      <tr>
        <th> {{track.name}}</th>
        <th> {{track.composer}}</th>
        <th> {{track.milliseconds}}</th>
        <th> {{track.bytes}}</th>
        <th> {{track.unitPrice}}</th>
      </tr>
    {% endfor %}
    </tbody>
</table>
